.error-messages {
    color: red;
    font-size: var(--Validation-Font-size);
}

.label {
    font-size: var(--input-Font-size);
}

.relative {
    position: relative;
}

button {
    cursor: pointer;
}