<div class="bg-white rounded-lg shadow-xl w-full max-h-screen max-h-screen overflow-y-auto">
    <div class="p-6">
        <form [formGroup]="form">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <label for="productName" class="block label font-medium text-gray-700 mb-2">Product Name
                        <span class="error-messages">*</span></label>
                    <input formControlName="productName" type="text" id="productName" name="productName" required
                        placeholder="Product Name" [ngClass]="{'border-red-500 focus:ring-red-500': productName?.invalid && (productName?.dirty 
                     || productName?.touched),'border-gray-300 focus:ring-blue-500': !(productName?.invalid 
                     && (productName?.dirty || productName?.touched))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 
                     focus:border-transparent transition duration-200">
                    <div *ngIf="productName?.touched && productName?.invalid" class="error-messages">
                        Product Name should be 5-50 characters long and contain only letters and dot.
                    </div>
                </div>
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <label for="unitName" class="block label font-medium text-gray-700 mb-2">Unit Type.
                        <span class="error-messages">*</span></label>
                    <input formControlName="unitName" type="text" id="unitName" name="unitName" required
                        placeholder="Unit Type like nos, kg, ltr , etc" [ngClass]="{'border-red-500 focus:ring-red-500': unitName?.invalid && (unitName?.dirty 
                     || unitName?.touched),'border-gray-300 focus:ring-blue-500': !(unitName?.invalid 
                     && (unitName?.dirty || unitName?.touched))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 
                     focus:border-transparent transition duration-200">
                    <div *ngIf="unitName?.touched && unitName?.invalid" class="error-messages">
                        Please enter valid Unit Name.
                    </div>
                </div>
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <label for="stockCount" class="block label font-medium text-gray-700 mb-2">Stock
                        <span class="error-messages">*</span>
                    </label>
                    <input formControlName="stockCount" type="number" min="1" id="stockCount" name="stockCount" required
                        placeholder="Stock Value" [ngClass]="{'border-red-500 focus:ring-red-500': stockCount?.invalid && (stockCount?.dirty 
                     || stockCount?.touched),'border-gray-300 focus:ring-blue-500': !(stockCount?.invalid 
                     && (stockCount?.dirty || stockCount?.touched))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 
                     focus:border-transparent transition duration-200">
                    <div *ngIf="stockCount?.touched && stockCount?.invalid" class="error-messages">
                        Please enter number for available stock (greater than zero).
                    </div>
                </div>
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <label for="unitCost" class="block label font-medium text-gray-700 mb-2">Alternate Contact
                        No.</label>
                    <input formControlName="unitCost" type="number" min="1" id="unitCost" name="unitCost"
                        placeholder="Alternative Contact No" [ngClass]="{'border-red-500 focus:ring-red-500': unitCost?.invalid && (unitCost?.dirty),
                        'border-gray-300 focus:ring-blue-500': !(unitCost?.invalid 
                     && (unitCost?.dirty))}" class="w-full px-4 py-3 border border-gray-300 
                     rounded-lg focus:ring-2 focus:ring-blue-500 
                     focus:border-transparent transition duration-200">
                    <div *ngIf="unitCost?.invalid" class="error-messages">
                        Please enter valid Unit Cost.
                    </div>
                </div>
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="loading" class="p-4 space-y-4">
                    <div class="animate-pulse space-y-2">
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
                </div>
                <div *ngIf="!loading">
                    <label for="productLogo" class="block label font-medium text-gray-700 mb-2">Product Logo</label>
                    <input formControlName="productLogo" type="file" (change)="onFileChange($event)" id="productLogo"
                        name="productLogo" placeholder="Product Logo" [ngClass]="{'border-red-500 focus:ring-red-500': productLogo?.invalid && (productLogo?.dirty),'border-gray-300 focus:ring-blue-500': !(productLogo?.invalid 
                     && (productLogo?.dirty))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg 
                     focus:ring-2 focus:ring-blue-500 focus:border-transparent
                     focus:border-transparent transition duration-200" accept="image/*">
                    <div *ngIf="productLogo?.invalid" class="error-messages text-red-600 text-sm mt-1">
                        <div *ngIf="productLogo?.errors?.['invalidFileType']">Only image files are allowed (jpg, png,
                            webp...)</div>
                        <div *ngIf="productLogo?.errors?.['fileTooLarge']">File size must be under 5 MB</div>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>