<ul *ngIf="!isPassword">
    <li>
        Username Should not start with numbers or Symbols
    </li>
    <li>
        Username Should have minimum of 5 and maximum of 20 characters
    </li>
    <li>
        Username Should not have any special characters
    </li>
</ul>
<ul *ngIf="isPassword">
    <li>
        Password Should not start with numbers or Symbols
    </li>
    <li>
        Password Should have minimum of 5 and maximum of 20 characters
    </li>
    <li>
        Password Should not have any special characters
    </li>
</ul>