/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #be185d;
    --Validation-Font-size: 14px; 
    --input-Font-size: 16px; 
}
.error-messages {
    color: red;
    font-size: var(--Validation-Font-size);
}

.label {
    font-size: var(--input-Font-size);
}