<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-2xl shadow-xl max-h-[80vh] flex flex-col overflow-hidden" [ngStyle]="{ width: width }"
    #popupContainer>
    <!-- Header -->
    <div class="p-3 text-white text-lg font-semibold flex justify-between items-center" [ngClass]="headerBg"
      (mousedown)="startDrag($event)" #dragHandle>
      <span>{{ title }}</span>

      <button (click)="onCancel()"
        class="text-gray-200 hover:text-gray-300 text-2xl font-bold leading-none focus:outline-none"
        >
        &times;
      </button>
    </div>

    <!-- Body -->
    <div class="flex-1 p-4 overflow-y-auto">
      <ng-container *ngIf="!childComponent; else childContent">
        <p class="text-gray-700">{{ message }}</p>
      </ng-container>
      <ng-template #childContent>
        <ng-container #childContainer></ng-container>
      </ng-template>
    </div>

    <!-- Footer -->
    <div *ngIf="showFooter" class="flex justify-end gap-2 p-3 bg-gray-50 border-t">
      <button *ngIf="footerType === 'ok'" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700"
        (click)="onOk()">OK</button>

      <ng-container *ngIf="footerType === 'Save'">
        <button class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400" (click)="onCancel()">Cancel</button>
        <button class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700"
          (click)="onSubmit()">Save</button>
      </ng-container>
      <ng-container *ngIf="footerType === 'confirm'">
        <button class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400" (click)="onCancel()">No</button>
        <button class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700"
          (click)="onConfirm()">Yes</button>
      </ng-container>
    </div>
  </div>
</div>