<router-outlet>
    <div class="max-w-7xl mx-auto px-4 py-4 md:py-8">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 space-y-4 sm:space-y-0">
            <h2 class="text-2xl md:text-3xl font-bold text-white">New Invoice</h2>
            <button (click)="AddProduct()"
                class="w-full sm:w-auto bg-green-600 text-white px-4 py-2 md:px-6 md:py-3 rounded-lg hover:bg-green-700 transition duration-200 font-medium text-sm md:text-base">
                Back To Invoices
            </button>
        </div>
        <div class="bg-white rounded-lg shadow-xl w-full max-h-screen max-h-screen overflow-y-auto">
            <div class="p-6">
                <form [formGroup]="form">
                    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                        <div *ngIf="loading" class="p-4 space-y-4">
                            <div class="animate-pulse space-y-2">
                                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                                <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                            </div>
                        </div>
                        <div *ngIf="!loading">
                            <label for="invoiceNo" class="block label font-medium text-gray-700 mb-2">Invoice No.
                                <span class="error-messages">*</span></label>
                            <input formControlName="invoiceNo" type="text" id="invoiceNo" name="invoiceNo" required
                                placeholder="Invoice No" [ngClass]="{'border-red-500 focus:ring-red-500': invoiceNo?.invalid 
                                && (invoiceNo?.dirty 
                                || invoiceNo?.touched),'border-gray-300 focus:ring-blue-500': !(invoiceNo?.invalid 
                                && (invoiceNo?.dirty || invoiceNo?.touched))}" class="w-full px-4 py-3 border border-gray-300 
                                rounded-lg focus:ring-2 focus:ring-blue-500 
                                focus:border-transparent transition duration-200">
                            <div *ngIf="invoiceNo?.touched && invoiceNo?.invalid" class="error-messages">
                                Please enter valid invoice no.
                            </div>
                        </div>
                        <div *ngIf="customerListLoading" class="p-4 space-y-4">
                            <div class="animate-pulse space-y-2">
                                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                                <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                            </div>
                        </div>
                        <div *ngIf="!customerListLoading">
                            <label for="customerCode" class="block label font-medium text-gray-700 mb-2">Customer
                                <span class="error-messages">*</span>
                            </label>
                            <select id="customerCode" name="customerCode" required formControlName="customerCode"
                                [ngClass]="{'border-red-500 focus:ring-red-500': customerCode?.invalid && 
                            (customerCode?.dirty  || customerCode?.touched),'border-gray-300 
                            focus:ring-blue-500': !(customerCode?.invalid && (customerCode?.dirty || customerCode?.touched))}"
                                class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 
                            focus:border-transparent transition duration-200">
                                <option value="0" [disabled]="true" selected>Select Customer</option>
                                <option *ngFor="let customer of customerData" [value]="customer.customerCode">
                                    {{customer.customerName}}
                                </option>
                            </select>
                            <div *ngIf="customerCode?.touched && customerCode?.invalid" class="error-messages">
                                Please select a customer to proceed with the invoice.
                            </div>
                        </div>
                        <div *ngIf="loading" class="p-4 space-y-4">
                            <div class="animate-pulse space-y-2">
                                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                                <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                            </div>
                        </div>
                        <div *ngIf="!loading">
                            <label for="isEwayBillAvailable" class="block label font-medium text-gray-700 mb-2">E-Way
                                Bill
                                Available
                                <span class="error-messages">*</span>
                            </label>
                            <select id="isEwayBillAvailable" name="isEwayBillAvailable" required
                                (change)="EWayBillAvailabilityOnchange()" formControlName="isEwayBillAvailable"
                                [ngClass]="{'border-red-500 focus:ring-red-500': isEwayBillAvailable?.invalid && 
                            (isEwayBillAvailable?.dirty  || isEwayBillAvailable?.touched),'border-gray-300 
                            focus:ring-blue-500': !(isEwayBillAvailable?.invalid && (isEwayBillAvailable?.dirty || 
                            isEwayBillAvailable?.touched))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 
                            focus:border-transparent transition duration-200">
                                <option [ngValue]="null" disabled>IS E-Way Bill Available for this</option>
                                <option [ngValue]="true">Yes</option>
                                <option [ngValue]="false">No</option>
                            </select>

                            <!-- Validation Message -->
                            <div *ngIf="form.get('isEwayBillAvailable')?.invalid && form.get('isEwayBillAvailable')?.touched"
                                class="text-red-600 text-sm mt-1">
                                Please select a status.
                            </div>
                        </div>
                        <div *ngIf="loading" class="p-4 space-y-4">
                            <div class="animate-pulse space-y-2">
                                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                                <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                            </div>
                        </div>
                        <div *ngIf="!loading">
                            <!-- <div [ngStyle]="{ 'display': form.get('isEwayBillAvailable')?.value === true ? 'flex' : 'none' }"> -->
                            <label for="EWayBillQR" class="block label font-medium text-gray-700 mb-2">E-Way Bill
                                QR</label>
                            <input formControlName="EWayBillQR" type="file" (change)="onFileChange($event)"
                                id="EWayBillQR" name="EWayBillQR" placeholder="E-WayBill QR Logo" [ngClass]="{'border-red-500 focus:ring-red-500': EWayBillQR?.invalid && (EWayBillQR?.dirty),'border-gray-300 focus:ring-blue-500': !(EWayBillQR?.invalid 
                     && (EWayBillQR?.dirty))}" class="w-full px-4 py-3 border border-gray-300 rounded-lg 
                     focus:ring-2 focus:ring-blue-500 focus:border-transparent
                     focus:border-transparent transition duration-200" accept="image/*">
                            <div *ngIf="EWayBillQR?.invalid" class="error-messages text-red-600 text-sm mt-1">
                                <div *ngIf="EWayBillQR?.errors?.['invalidFileType']">Only image files are allowed (jpg,
                                    png,
                                    webp...)</div>
                                <div *ngIf="EWayBillQR?.errors?.['fileTooLarge']">File size must be under 5 MB</div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>

                <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                    <!-- Header -->
                    <div class="bg-blue-600 text-white font-semibold text-lg p-4">
                        Invoice Product List ({{addedInvoiceItems }} / <span
                            class="text-red-600 font-semibold text-lg">{{addedInvoiceItemsWithError}}</span>)
                        <button (click)="AddProduct( )"
                            class="w-full sm:w-auto bg-green-600 text-white px-4 py-2 md:px-6 md:py-3 rounded-lg hover:bg-green-700 transition duration-200 font-medium text-sm md:text-base">
                            Add Product
                        </button>
                    </div>
                    <div>
                        <div *ngIf="productsLoading" class="p-4 space-y-4">
                            <div class="animate-pulse space-y-2">
                                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                                <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                            </div>
                        </div>
                        <app-dynamic-multi-form *ngIf="!productsLoading" #dynamicForm [controls]="formControlsConfig" 
                        [title]="'Invoice Items'" (valueChange)="valueChangeEvent($event)"
                            (rowCountChange)="onRowCountChange($event)"
                            (invalidRowCountChange)="onInvalidRowCountChange($event)">
                        </app-dynamic-multi-form>
                    </div>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row justify-center items-center gap-4 mb-6 space-y-4 sm:space-y-0">
                <button (click)="onSave()" class="w-full sm:w-auto 
               border border-green-600 text-green-600 bg-white 
               px-4 py-2 md:px-6 md:py-3 
               rounded-lg 
               hover:bg-green-600 hover:text-white 
               transition duration-200 
               font-medium text-sm md:text-base">
                    Save
                </button>
                <button (click)="clearall()" class="w-full sm:w-auto 
               border border-yellow-600 text-yellow-600 bg-white 
               px-4 py-2 md:px-6 md:py-3 
               rounded-lg 
               hover:bg-yellow-600 hover:text-white 
               transition duration-200 
               font-medium text-sm md:text-base">
                    Clear All
                </button>
            </div>
        </div>
    </div>

</router-outlet>