<router-outlet>
    <div class="max-w-7xl mx-auto px-4 py-4 md:py-8">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 space-y-4 sm:space-y-0">
            <h2 class="text-2xl md:text-3xl font-bold text-white">Invoices</h2>
            <button (click)="AddProduct()"
                class="w-full sm:w-auto bg-green-600 text-white px-4 py-2 md:px-6 md:py-3 rounded-lg hover:bg-green-700 transition duration-200 font-medium text-sm md:text-base">
                Add Product
            </button>
        </div>
        <app-dynamic-multi-form #dynamicForm [controls]="formControlsConfig">
        </app-dynamic-multi-form>
    </div>
</router-outlet>